.imgTab
{
	width: 10rem;
}

.imgTab:hover
{
	width: 20rem;
}

.imgForm
{
	max-width: 20rem;
	float: right;
}

.floatRight
{
	display: right;
	float: right;
	text-align: right;
	right;
	position: right;

}

.textVertical
{
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	position: absolute;
	bottom: 0;
	margin-right: 0;
	margin-bottom: auto;
	margin-left: 15rem;

}

#img
{
	size: 50%;
}

.gif
{
	background-image: url("/jarditou/eval_php/assets/image/gif_formulaire.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.bordLarge 
{
    border-width: 0.2rem !important;
}

.tC
{
	text-align: center !important;
}